<p id="notice"><%= notice %></p>

<h1>All blogs</h1>

<div id="all_articles__div">
  <% @articles.each do |article| %>
    <div class="article__div">
      <p><b>Title: </b><%= article.title %></p>
      <p><b>Post: </b><%= article.post[0, 200] %>...<%= link_to 'read more', article %></p>
      <%# TODO: How to move this logic to controller ? %>
      <% user = User.find_by(id: article.user_id) %>
      <% username = user ? user.username : 'Unknown' %>
      <p><b>Author: </b><%= username %></p>
      <p>
          <%= link_to 'Show', article, class: "btn btn-info" %>
          <%= link_to 'Edit', edit_article_path(article), class: "btn btn-warning" %>
          <%= link_to 'Destroy', article, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
      </p>
    </div>
  <% end %>
</div>

<br>
