<p id="notice"><%= notice %></p>

<div class="row article__div">
  <div class="col-md-12">
    <h1>
      <%= @article.title %>
    </h1>
  </div>

  <div class="col-md-12">
    <strong>Written by:</strong>
    <%= @article.user.username %>
  </div>
  <br/>

  <blockquote>
    <p>
    <%= @article.post %>
    </p>
  </blockquote>
  <br/>

  <div>
    <small>Viewed <b><%= @count %></b> times</small>
  </div>

</div>

<div class="row">
  <div class="btn btn-warning" type="button">
    <%= link_to 'Edit', edit_article_path(@article) %>
  </div>
  <div class="btn btn-info" type="button">
    <%= link_to 'Back', articles_path %>
  </div>
</div>
