<p id="notice"><%= notice %></p>

<div class="row article__div">
  <div class="col-md-12">
    <h1>
      <%= @article.title %>
    </h1>
  </div>

  <div class="col-md-12">
    <strong>Written by:</strong>
    <%= @username || "Unknown" %>
  </div>
  <br/>

  <blockquote>
    <p>
    <%= @article.post %>
    </p>
  </blockquote>
  <br/>

  <% if @article %>
    <div>
      <small>Viewed <b><%= @count %></b> times</small>
    </div>
  <% end %>

</div>

<div class="row">
    <%= link_to 'Edit', edit_article_path(@article), class: "btn btn-warning" %>
    <%= link_to 'Back', articles_path, class: "btn btn-info"  %>
</div>
